/* место для вашего кода */

* {
  font-family: "Raleway";
}

address {
  font-style: normal;
}

.body {
  width: 1100px;
  margin: auto;
  font-family: "Raleway";
}

.header {
  margin: 92px 24px 96px;
  width: auto;
  height: 105px;
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  grid-template-rows: 1fr;
  font-size: 18px;
}

.header__menu {
  padding-left: 26px;
  padding-right: 36px;
  display: flex;
  align-items: center;
}

.header__links-list {
  display: flex;
  gap: 31px;
  letter-spacing: 0.006em;
  list-style: circle;
}

.header__link {
  display: inline;
  white-space: nowrap;
  text-underline-offset: 3px;
}

.header__link_active {
  text-decoration: none;
  display: inline;
  white-space: nowrap;
}

.header__logo {
  object-fit: contain;
}

.header__logo-image {
  height: 105px;
}

.header__address {
  margin-left: auto;
  margin-right: 26px;
  margin-top: 4px;
  width: 240px;
  height: 98px;
  line-height: 24.5px;
  text-underline-offset: 5px;
  letter-spacing: 0.004em;
}

.cover {
  background-image: url(../images/cover.jpg);
  height: 757px;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: -1;
  color: white;
  margin-bottom: 179px;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: -1;
}

.cover__title {
  padding: 165px 50px 135px;
  font-size: 100px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  line-height: 1em;
}

.aligned-text {
  display: block;
  text-align: left;
  line-height: 1.15em;
  margin-bottom: 20px;
}

.aligned-text_center {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.aligned-text_right {
  display: block;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  padding: 0 50px 51px 78px;
  align-items: center;
  justify-content: space-between;
}

.cover__description-text {
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0em;
  word-spacing: 0.85em;
}

.bet-button {
  background-color: transparent;
  text-transform: uppercase;
  color: white;
  border: 1px solid white;
  width: 256px;
  height: 51px;
  font-size: 22px;
}

.lots {
  padding: 0 24px;
  margin-bottom: 146px;
}

.lots__heading {
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots__card-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 29px;
}

.card {
  height: 563px;
  width: 334px;
  position: relative;
  z-index: -1;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-link {
  text-decoration: none;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  padding: 51px 40px 0;
  font-size: 22px;
  line-height: 1.2em;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: bold;
  text-underline-offset: 3px;
}

.card__text {
  padding: 0 40px 48px;
  font-size: 20px;
  font-weight: 400;
}

.lots__look-more-link {
  text-transform: lowercase;
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 5px;
  padding-left: 40px;
}

.about {
  margin: 0 24px 180px;
  height: 595px;
  width: 1052px;

  display: grid;
  grid-template-columns: calc(47px + 240px) auto;
  column-gap: 72px;
  margin-bottom: 180px;
}

.about__logo {
  width: 240px;
  height: 240px;
  margin: 35px 0 0 47px;
  background-color: black;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__logo-image {
  height: 114px;
  width: 148px;
  background-image: url(../images/logo-white.svg);
  background-size: contain;
}

.about__title {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 135px;
  margin-bottom: 100px;
}

.about__text {
  font-size: 20px;
  letter-spacing: 0em;
  line-height: 24px;
  padding-right: 24px;
  font-weight: 400;
}

.about__text:first-of-type {
  margin-bottom: 24px;
}

.footer {
  height: 98px;
  margin: 0 50px 88px;
  display: flex;
  justify-content: space-between;
}

.footer__address {
  justify-content: left;
  width: 241px;
  font-size: 18px;
  height: 98px;
  line-height: 24.3px;
  text-underline-offset: 5px;
  letter-spacing: 0.004em;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
  width: 149px;
  font-size: 18px;
}

.footer__social-list {
  list-style: none;
  display: flex;
  width: 240px;
  justify-content: space-between;
}

.footer__menu-link {
  text-decoration: underline;
  text-underline-offset: 3px;
  white-space: nowrap;
}

.footer__menu-link_active {
  text-decoration: none;
  text-underline-offset: 3px;
  white-space: nowrap;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
